.themes__background_season-o {
  background-image: url(../../../../images/themes/osen.JPG);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
