.themes__background_season-z {
  background-image: url(../../../../images/themes/Морозко.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
