.themes__background_season-v {
  background-image: url(../../../../images/themes/Автомастерская.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
