.themes__background_season-l {
  background-image: url(../../../../images/themes/Лодочка.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
