.content-main__btn {
display: flex;
justify-content: center;
align-items: center;
width: 300px;
height: 45px;
border: 1px solid #000000;
border-radius: 10px;
font-weight: 700;
font-size: 18px;
line-height: 21px;
margin:0 auto 40px 75px;
background-color: rgba(28,28,28,0);
}
