.gallery__background-seson_footage-aut-s{
  background-image: url(../../../../images/gallery/general_photo_aut-s.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
