.gallery__background-seson_footage-spr-s{
  background-image: url(../../../../images/gallery/general_photo_spr-s.JPG);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
