.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  transition: opacity .2s linear;
}

.footer__link:hover {
  opacity: .8;
}

