.contact__text {
  font-weight: 400;
font-size: 18px;
line-height: 25px;
display: flex;
align-items:center;
text-decoration: none;
margin-bottom: 37px;
color: #000;
}

.contact__text:last-child {
  margin-bottom: 0;
}
.contact__text:first-child {
  margin: 0;
}
.contact__text:nth-child(2) {
margin: 0;
}
.contact__text:hover {
  opacity: .8;
}
