.themes__background_theme3 {
  background-image: url(../../../../images/Zima/Деревце.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
