.intro {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0 0 0;
  background-color: #eca9ab;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

@media screen and (min-height: 1024px) {
  .intro {
      padding: 57px 0 0 0;

  }
}
