.themes__background_theme4 {
  background-image: url(../../../../images/Zima/Зимнее-счастье.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
