.themes__background_theme5 {
  background-image: url(../../../../images/Zima/Луна-Календарь.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
