.themes__background_theme1 {
  background-image: url(../../../../images/Zima/Абакан.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
