.gallery__background_footage_cal {
  background-image: url(../../../../images/gallery/calendar.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
