.themes__background_calendar3 {
  background-image: url(../../../../images/calendar/3-2-min.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
