.themes__background_calendar1 {
  background-image: url(../../../../images/calendar/1-1-min.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
