.themes__background_calendar5 {
  background-image: url(../../../../images/calendar/5-2-min.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
