.themes__background_calendar2 {
  background-image: url(../../../../images/calendar/2-2-min.JPG);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
