.themes__background_calendar7 {
  background-image: url(../../../../images/calendar/12-min.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
