.themes__background_calendar9 {
  background-image: url(../../../../images/calendar/9-1-min.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
