.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #fcf4f8;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}



.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(0, 0, 0);
}

.navbar__wrap .menu > li > a:hover {
  color: rgb(0, 0, 0);
}
@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }
  .navbar__wrap {
    flex-direction: row-reverse;
  }
  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    z-index: 101;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #000000;
    transition: 0.2s;
  }

  .popupm {
    position: fixed;
    top: 0px;
    right:  -100%;
    background-color: #ffffff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popupm.open {
    right: 0;
  }

  .popupm .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popupm .menu > li {
    width: 100%;
  }

  .popupm .menu > li > a {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popupm .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}
